<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="fegrocer-api-endpoint" content="<%= htmlWebpackPlugin.options.apiEndpoint %>" />
  <link rel="manifest" href="/web-app-manifest.json" />

  <meta name="theme-color" content="#2d89ef" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-status-title" content="FE Grocer">



  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

</head>

<body>
  <noscript> JavaScript is required in order to use this app </noscript>
  <div id="root"></div>
</body>

</html>